<h1>
  {{title}}
</h1>



    <div class="top-section">
        <div>
            <input id="one-way" type="checkbox"/>
            <label id="label-one-way" for="one-way">One way</label>
        </div>
    </div>

    <label for="origin-Identifier">From</label>
    <div class="input-wrapper">
        <select id="origin-Identifier">
            <option *ngFor="let airport of airports">{{airport.name}}</option>
        </select>
    </div>

    <label for="destination-Identifier">To</label>
    <div class="input-wrapper">
        <select id="destination-Identifier">
            <option *ngFor="let airport of airports">{{airport.name}}</option>
        </select>
    </div>

    <label for="departure-Identifier">Departure</label>
    <div class="input-wrapper">
        <input type="date"
               id="departure-Identifier"
               name="departure"
               (input)="departureDate=$event.target.value"/>
    </div>

    <label for="arrival-Identifier">Arrival</label>
    <div class="input-wrapper">
        <input type="date"
               id="arrival-Identifier"
               name="arrival"
               (input)="returnDate=$event.target.value"/>
    </div>

    <button type="submit" (click)="submitSearch()" id="search-submit">Search</button>

